<header>
    <div class="container-fluid">
        <h1>Escola U</h1> <!-- Adiciona o nome da escola -->
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/login-aluno"><i class="fas fa-user-graduate"></i> Alunos</a></li>
                <li><a href="/login-prof"><i class="fas fa-chalkboard-teacher"></i> Professores</a></li>
                <li><a href="/login-adm"><i class="fas fa-user-tie"></i> Administradores</a></li>
                <li><a href="#"><i class="fas fa-users"></i> Funcionários</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
